@import url("https://fonts.googleapis.com/css2?family=Gideon+Roman&family=Special+Elite&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap");

body {
  background-color: whitesmoke;
}
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  right: 30px;
  position: fixed;
}

.nav_ul {
  display: flex;
  flex-direction: row;
  justify-content: right;
}
.nav_links {
  list-style: none;
  margin: 30px;
}

.nav_links a {
  color: #4ab19a;
  text-decoration: none;
  font-size: 20px;
}
.nav_links a:active {
  color: #f45b69;
}
.nav_links a:hover {
  color: #f45b69;
}
.div_table {
  position: absolute;
  right: 60px;
  left: 100px;
  top: 100px;
}

.column-one {
  background-color: #e0ebe8;
  padding: 5px;
  width: 400px;
  height: 400px;
  border-radius: 15px;
  margin-right: 10px;
  font-family: "Dancing Script", cursive;
  color: #4ab19a;
  font-size: x-large;
  position: absolute;
  top: 200px;
  left: 30px;
  
}



 .img_one {
  border-radius: 50%;
  width: 700px;
  height: 200px;
  display: inline-block;
  position: absolute;
  top: 300px;
  left: 420px ;
}

.second-column {
  background-color: #e0ebe8;
  padding: 5px;
  width: 400px;
  height: 250px;
  border-radius: 15px;
  margin-left: 10px;
  margin-right: 10px;
  font-family: "Dancing Script", cursive;
  color: #4ab19a;
  font-size: x-large;
  position: absolute;
  top: 600px;
  left: 430px;
}
 .img_two {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  display: inline-block;
  position: absolute;
  top: 600px;
  left:870px;
}
.third-column {
  background-color: #e0ebe8;
  padding: 5px;
  width: 400px;
  height: 500px;
  border-radius: 15px;
  margin-left: 10px;
  
  font-family: "Dancing Script", cursive;
  font-size: x-large;
  color: #4ab19a;
  position: absolute;
  top: 850px;
  left: 840px;
  
 
}


