/* styling with elements */
@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comforter&display=swap');
body {
  margin: 0;
}
header.header {
  height: 100vh;
  background-color: #e0ebe8;
}
/* styling with class */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.nav_ul {
  display: flex;
  flex-direction: row;
  justify-content: right;
}
.nav_links {
  list-style: none;
  margin: 30px;
}


.nav_links a {
  color: #4ab19a;
  text-decoration: none;
  font-size: 20px;
}
.nav_links a:active{
  color: #f45b69;
}
.nav_links a:hover {
  color: #f45b69 
}


.intro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #4ab19a;
}
.intro_name{
    font-family: 'Mochiy Pop P One', sans-serif;
    font-size: 100px;
    margin: 50px 0 10px 0;

}
.intro_about{
    font-size: 50px;
    margin: 0px;
    font-family: 'Comforter', cursive;
}
