/* styling with elements */
body{
    background-color:#E0EBE8 ;
}
/* styling with class */
.nav{
 display :flex ;
 justify-content: space-between;
 align-items: center;
}
.nav_logo{
    color: #4AB19A;
    font-size: 2rem;
    margin: 45px;

}
.nav_ul{
    display: flex ;

}
.nav_links{
    list-style: none;
    margin: 30px;
}
.nav_links a{
    color: #4AB19A;
    text-decoration: none;
    font-size: 15px;
}
.nav_contact{
    margin: 45px;

}
.nav_contact a{
    color: #4AB19A;
    font-size: 15px;
    text-decoration: none;
}
    